<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.androidwear">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:theme="@android:style/Theme.DeviceDefault"> -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WearActivity" />
        <activity android:name=".ChooserActivity" />
        <activity android:name=".ChooserSleeping" />
        <activity android:name=".ChooserWater" />
        <activity android:name=".AddNewWater" />
        <activity android:name=".AddNewSleep" />
        <activity android:name=".AddNewExercise" />
        <activity android:name=".exerciseHistory" />
        <activity android:name=".SleepingHistory" />
        <activity android:name=".WaterHistory"></activity>
    </application>

</manifest> <!-- android:theme="@style/Theme.AppCompat.Light"> -->
